<div class="container">
  <div class="jumbotron">
  <h1 class="display-4">CookBook</h1>
  <p class="lead"Bem-vindo ao maior livro de receitas online</p>
  <hr class="my-4">
  <p>Bem-vindo ao maior livro de receitas online </p>
  <%= link_to 'Saiba Mais', about_path, class: "btn btn-primary btn-lg", role: "button" %>
  <%= link_to 'Enviar uma receita', new_recipe_path, class:"btn btn-primary btn-lg"  %>
</div>



  <% @recipes.each do |recipe|  %>
    <h1><%= link_to recipe.title, recipe %></h1>
    <ul>
      <li><%= recipe.recipe_type %></li>
      <li><%= recipe.cuisine %></li>
      <li><%= recipe.difficulty %></li>
      <li><%= recipe.cook_time %> minutos</li>
    </ul>
  <% end %>
</div>