<div class="container">
  <div class="jumbotron">
  <h1 class="display-4">CuckBook</h1>
  <p class="lead">Maior livro de receitas do Brasil para os amadores da sétima Arte</p>
  <hr class="my-4">
  <p>Site de receitas como teste, olá, bem vindo você, amigo você é um amigo!</p>
  <%= link_to 'Saiba Mais', about_path, class: "btn btn-primary btn-lg", role: "button" %>
  <a class="btn btn-primary btn-lg" href="#" role="button">Saiba mais</a>
</div>

  <% @recipes.each do |recipe|  %>
    <h1><%= link_to recipe.title, recipe %></h1>
    <ul>
      <li><%= recipe.recipe_type %></li>
      <li><%= recipe.cuisine %></li>
      <li><%= recipe.difficulty %></li>
      <li><%= recipe.cook_time %> minutos</li>
    </ul>
  <% end %>
</div>